<div class="carousel-wrap">
  <div class="carousel-track">

    <!-- SET ORIGINAL -->
    <figure class="carousel-item">
      <a href="/dibujos/costa-virgen">
        <img src="assets/img/carousel/costa-virgen.webp" alt="La costa virgen">
      </a>
    </figure>

    <figure class="carousel-item">
      <a href="/dibujos/desilusion-acongojada">
        <img src="assets/img/carousel/desilusion-acongojada.webp" alt="Desilusión acongojada">
      </a>
    </figure>

    <figure class="carousel-item">
      <a href="/dibujos/soledad-entre-estrellas">
        <img src="assets/img/carousel/soledad-entre-estrellas.webp" alt="Soledad entre estrellas">
      </a>
    </figure>

    <figure class="carousel-item">
      <a href="/dibujos/lucidez-seductora">
        <img src="assets/img/carousel/lucidez-seductora.webp" alt="Lucidez seductora">
      </a>
    </figure>
        
    <figure class="carousel-item">
      <a href="/dibujos/extasis-soledad">
        <img src="assets/img/carousel/extasis-soledad.webp" alt="Éxtasis de soledad">
      </a>
    </figure>

    <!-- SET DUPLICADO -->
    <figure class="carousel-item">
      <a href="/dibujos/costa-virgen">
        <img src="assets/img/carousel/costa-virgen.webp" alt="La costa virgen">
      </a>
    </figure>

    <figure class="carousel-item">
      <a href="/dibujos/desilusion-acongojada">
        <img src="assets/img/carousel/desilusion-acongojada.webp" alt="Desilusión acongojada">
      </a>
    </figure>

    <figure class="carousel-item">
      <a href="/dibujos/soledad-entre-estrellas">
        <img src="assets/img/carousel/soledad-entre-estrellas.webp" alt="Soledad entre estrellas">
      </a>
    </figure>

    <figure class="carousel-item">
      <a href="/dibujos/lucidez-seductora">
        <img src="assets/img/carousel/lucidez-seductora.webp" alt="Lucidez seductora">
      </a>
    </figure>
    
    <figure class="carousel-item">
      <a href="/dibujos/extasis-soledad">
        <img src="assets/img/carousel/extasis-soledad.webp" alt="Éxtasis de soledad">
      </a>
    </figure>

  </div>
</div>