<div id="authModal" class="modal">
  <div class="modal-content">
    <button class="close" id="closeAuthModal">&times;</button>
    <h2>Unirse</h2>


    <input type="email" id="authEmail" placeholder="Correo">
    <input type="password" id="authPassword" placeholder="Contraseña">
    
    <div id="authMessage" class="auth-message"></div>

    <div class="modal-options">
      <button id="btnLogin">Iniciar sesión</button>
      <button id="btnRegister">Registrarse</button>
      <button id="btnGoogle">Continuar con Google</button>
    </div>
  </div>
</div>